<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title th:text="${testName}">Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../default.css" />
</head>
<body>
	<header>
		<div>
			<h1 th:text="${testName}">Test Case Results</h1>
		</div>
		<div>
			<h3>
				Start: <span th:text="${startDate}">5th Nov 2011</span> End: <span
					th:text="${endDate}">6th Nov 2011</span>
			</h3>
		</div>
	</header>
	<div>
		<ul>
			<li th:each="log : ${logs}"><a href="#hide1" th:href="|#hide${logStat.index}|" class="hide"
				id="hide1" th:id="|hide${logStat.index}|">+</a> <a href="#show1" th:href="|#show${logStat.index}|" class="show" id="show1" th:id="|show${logStat.index}|">-</a><span
				th:text="${log.name}">TestCase1</span>
				<div class="data">
					<div th:switch="${log.type}">
						<span th:case="'text'" th:text="${log.value}">Test data</span>
						<img th:case="'image'" alt="Alternate Image Text" src="" th:alt="${log.name}" th:src="${log.value}"/>
					</div>
				</div></li>
		</ul>
	</div>
	<footer>
		<div>End of document</div>
	</footer>
</body>
</html>